.cart-page {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

.clear-button {
    background-color: #faf9f5;
    color: #6c6d6f;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    height: 30px;
    margin-left: 3.25em;
    margin-top: 10px;
    border: 2px solid #dbdad6;
    width: 11%;
}

.order-items-container {
    display: flex;
    flex-direction: column;
}

.single-item-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-right: 70px;
    width: 500px;
    height: 275px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.items-in-cart {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 0 0 0 40px;
}

.product-image {
    width: 175px;
    height: 175px;
    margin-left: 15px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.order-info {
    margin-left: 15px;
    margin-right: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.top-section {
    display: flex;
    margin-top: 40px;
    width: 100%;
}

.product-name-cart {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-right: auto;
    align-self: flex-start;

}

.product-price {
    margin-left: auto;
    align-self: flex-end;
    font-size: 16px;
}

.bottom-section {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 60px;
    gap: 10px;
}

.checkout-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
}

.checkout-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
}

.checkout-label {
    text-align: left;
}

.checkout-value {
    text-align: right;
}

.checkout-button {
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    width: 80%;
    height: 40px;
    justify-content: center;
}

@font-face {
    font-family: 'Luxurious Roman';
    src:
        url('./../Navigation/fonts/LuxuriousRoman-Regular.woff2') format('woff2'),
        url('./../Navigation/fonts/LuxuriousRoman-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }

.cart-is-empty {
  font-family: 'Luxurious Roman', serif;
  font-size: 45px;
  text-align: center;
}

.link-all-products {
  text-align: center;
  margin-top: -10px;
  color: black;
}

.dropdown-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
}

.quantity-dropdown-cart {
    width: 80%;
    height: 30px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    appearance: none;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 8px;
    font-size: 14px;
    margin-top: -12px;
    padding-right: 30px;
    background: transparent;
}

.quantity-dropdown-cart:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.remove-button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 5px;
}
