.page-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.product-tiles-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 20px;
}

.product-tile {
    box-sizing: border-box;
    width: 20%;
    padding: 15px;
    border: 1px solid #e0e0e0;
}

.navigation-buttons {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 40px;
}


.add-listing-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    margin-left: auto;
    margin-right: 30px;
}

.edit-and-delete {
    display: flex;
}

.update-listing-button {
    background-color: #faf9f5;
    color: #6c6d6f;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    border: 2px solid #dbdad6;
}

.delete-listing-button {
    background-color: #faf9f5;
    color: #6c6d6f;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    border: 2px solid #dbdad6;
    margin-left: -2px;
}
