.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    width: 72px; 
    height: 72px; 
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading-spinner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  