.update-review-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(204, 113, 113, 0.1);
    width: 320px;
    padding: 15px;
    text-align: center;
}

.title-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    margin-bottom: 0;
}

.title {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.description-label-form {
    display: block;
    width: 90%;
    text-align: left !important;
    margin: 0 auto 10px;
    padding-left: 10px;
}


.update-review-modal textarea {
    display: block;
    width: 90%;
    height: 100px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin: 0 auto 10px;
    width: 85%;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.review-star {
    margin: 5px 5px 5px 0px;
    font-size: 24px;
    cursor: pointer;
}

.review-star.selected {
    color: #FFD700;
}

.update-review-modal button {
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    width: 70%;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
}

.update-review-modal button:hover {
    background-color: #ff7f27;
}
