.footer {
    background-color: #222222;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

footer, .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.footer-section {
    margin-bottom: 20px;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 13px;
}

.footer a:hover {
    color: #007bff;
}
