.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1);
}

.nav-center-item {
  flex-grow: 2;
  display: flex;
  justify-content: center;
}

.nav-item {
    position: relative;
    margin-left: auto;
}

.cart-button:hover {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.profile-button-wrapper button:hover {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.profile-button-wrapper:hover {
  background-color: transparent;
}

.profile-button-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.fas {
  font-size: 24px;
  color: #000000;
  border-radius: 50%;
  padding: 8px;
  background-color: #f8f8f8bb;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  margin-left: 5px;
}

.profile-dropdown::before,
.profile-dropdown::after {
  content: "";
  position: absolute;
  right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.profile-dropdown::before {
  top: -10px;
  border-bottom: 10px solid #fff;
  z-index: 3;
}

.profile-dropdown::after {
  top: -11px;
  border-bottom: 10px solid rgba(255, 255, 255, 0.897);
  filter: drop-shadow(0px 0 2px rgba(0, 0, 0, 0.2));
  z-index: 2;
}

.profile-dropdown {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
  right: 0;
  top: calc(100% + 5px);
  min-width: 200px;
  z-index: 1;
  border-radius: 4px;
}

.profile-dropdown.hidden {
  display: none;
}


.hidden {
  display: none;
}


@font-face {
  font-family: 'Luxurious Roman';
  src:
      url('./fonts/LuxuriousRoman-Regular.woff2') format('woff2'),
      url('./fonts/LuxuriousRoman-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}


.title-petsy a {
  font-family: 'Luxurious Roman', serif;
  font-size: 35px;
  color: #F16521;
  font-weight: 600;
  text-decoration: none;
  margin-top: -15px;
  margin-left: -15px;
}

body, html {
  margin: 0;
  padding: 0;
}


.cart-button {
  padding: 8px 8px;
  font-size: 20px;
}

.sign-in-button {
	font-size: 10px !important;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.search-container {
  display: flex;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 22px;
  background-color: white;
  width: 90%;
  height: 35px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: transparent;
  height: 100%;
}

.search-icon {
	padding: 5px;
  margin-right: 10px;
}
