.product-detail-container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.product-images-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 20px;
}

.thumbnail-images {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
}

.thumbnail {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    cursor: pointer;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.thumbnail:hover img {
    transform: scale(1.1);
}

.thumbnail-placeholder {
    width: 56px;
    height: 56px;
    background-color: #eee;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.main-image {
    width: 550px;
    height: 500px;
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-info {
    margin-left: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail-product-price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
}

.add-to-cart-button {
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    margin-bottom: -10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    width: 80%;
    height: 40px;
    text-align: center;
    display: block;
    align-items: center;
    transition: transform 0.3s ease;
    z-index: 1;
}

.add-to-cart-button:hover {
    transform: scale(1.05);
    border-radius: 25px;
}

.favorite-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    width: 80%;
    height: 40px;
    text-align: center;
    display: block;
    transition: background-color 0.3s ease, transform 0.3s ease;
    align-items: center;
}

.favorite-button:hover {
    background-color: rgba(196, 196, 196, 0.411);
    transform: scale(1);
    border-radius: 25px;
}

.quantity-dropdown {
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    appearance: none;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 15px;
    font-size: 14px;
    margin-top: -12px;
    padding-right: 30px;
    background: transparent;

}

.quantity-dropdown:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}


.dropdown-container-details {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    margin-top: -6px;
}

.dropdown-icon {
    position: absolute;
    right: 20px;
    margin-bottom: 12px;
    pointer-events: none;

}

label {
    font-size: 12px;
}

.reviews-section {
    max-width: 900px;
    margin: auto;
    padding-bottom: 30px;
}

.reviews-header {
    display: flex;
    align-items: flex-start;
}

.reviews-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.reviews-username {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.button-container {
    display: flex;
    margin-left: -70px;
}

.review-star {
    font-size: 22px;
}

.delete-reviews-button {
    background-color: #faf9f5;
    color: #6c6d6f;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    height: 20px;
    margin-left: 5em;
    border: 2px solid #dbdad6;
}

.update-reviews-button {
    background-color: #faf9f5;
    color: #6c6d6f;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    height: 20px;
    border: 2px solid #dbdad6;
    margin-left: -2px;
}

.review-list-container {
    list-style-type: none;
    padding-left: 10px;
}

.review-list-itself {
    list-style-type: none;
    margin-bottom: 50px;
}

.new-listing-star {
    margin-right: 8px;
}

.no-reviews-yet {
    margin-left: 45px;
}

.success-message {
    color: red;
    font-size: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 55px;
}
