.product-tile-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 20px;
}

.product-tile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1em;
    position: relative;
}

.image-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.image-placeholder, .product-tile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
}

.favorite-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    opacity: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: top 0.3s, transform 0.3s, box-shadow 0.3s, opacity 0.3s;
}

.favorite-btn:active, .favorite-btn:focus {
    outline: none;
}

.favorite-btn[data-favorited="true"] {
    color: red;
}

.product-tile:hover .favorite-btn {
    opacity: 1;
    pointer-events: auto;
    top: 15px;
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.product-name, .product-rating, .product-price, .add-to-cart-btn {
    margin: 0;
}

.product-name {
    font-size: 12px;
    margin-top: 5px;
}

.product-rating {
    display: flex;
    font-size: 12px;
    align-items: center;
}

.star-icon {
    margin-right: 5px;
}

.product-price {
    font-size: 14px;
    font-weight: 600;
    color: green;
    margin-top: 5px;
}

.add-to-cart-btn {
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-to-cart-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
