.purchased-products-modal {
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 320px;
    padding: 15px;
    text-align: left;
    margin-bottom: 30px;
    overflow-y: auto;
    height: 425px !important;

  }

  .purchased-products-modal::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 4px;
}

.purchased-products-modal::-webkit-scrollbar-thumb {
    background-color: #ff7f27;
    border-radius: 4px;
}


.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 2px solid #000000;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-top: -5px;
    margin-bottom: -5px;
  }

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: -10px;
  }

  .product-name-review {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: -10px;
    text-decoration: none;
    color: inherit;
  }

  .product-description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .review-list {
    list-style-type: none;
    padding: 0;
  }

  .purchased-products-modal li {
    border-bottom: 2px solid #ff7f27;
    padding: 0 0 20px 0;
  }

  .purchased-products-modal button {
    border-radius: 25px;
    text-align: center;
    display: block;
    width: 70%;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    margin: auto;
  }

  .purchased-products-modal button:hover {
    background-color: #ff7f27;
  }

  .purchased-products-modal button.close-modal {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .purchased-products-modal button.close-modal:hover {
    background-color: #000;
    color: #fff;
  }
